@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu clase de scrollbar (la movemos del HTML a CSS real) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
